.col-md-6
  %h1 About Me
  %br
  %p Welcome!
  %br
  %p I am excited to share my perspective on running and traveling with you! I have been running for over 10 years now, mostly on recreational level, but in the past 2 years I have take the sport a lot more seriously. I have ran everything from 400m, in college, to marathons. I have worked with some amazing coaches and runners and have gained good experience with training, nutrition,  racing and recovery. I love to run, share my experience, and provide a little inspiration.
  %br
  %p Besides running, I love to travel and experience new cultures, food, and adventures. I try to never say “no” to a new opportunity or experience. I have lived in Russia and Australia, and now I am located in beautiful Minneapolis, MN. I plan on taking my love for running on the road and sharing my experience.
  %br
  %p Besides running, I stay active by Mountain Biking and Volleyball. I love to stay active and more importantly stay outdoors. I want to be able to connect and collaborate with runners and travelers.
  %br
  %p
    Come on a run with me:
    = about_contact_info_links
= render template: 'shared/sidebar'
