.col-md-6
  - if @posts.any?
    - @posts.each do |post|
      .post-container
        %h2
          = post.title

        = post.body.html_safe
  - else
    %h3 There are currently no posts!
= render template: 'shared/sidebar'
