.container-fluid#nav-container
  %nav.navbar.brand-seagreen
    %ul.nav.navbar-nav
      %li
        = link_to 'HOME', root_path
      %li
        = link_to 'RUNNING DISCOUNT CODES', href: '#'
      %li
        = link_to 'ABOUT ME', about_path
.jumbotron#nav-banner
  %h1 ANDREY ABLAMUNETS
  %p RUNNING THE WORLD
