.container-fluid#nav-container
  %nav.navbar.brand-seagreen
    .row
      .col-md-10.col-md-offset-1
        %ul.nav.navbar-nav
          %li
            = link_to 'HOME', root_path
          %li
            = link_to 'RUNNING DISCOUNT CODES', href: '#'
          %li
            = link_to 'ABOUT ME', about_path
        .navbar-right
          = link_to 'Login', new_user_session_path, class: 'btn btn-danger', id: 'login-button'
.jumbotron#nav-banner
  %h1 ANDREY ABLAMUNETS
  %p RUNNING THE WORLD
