.well#follow-me-container
  %h3 FOLLOW MY BLOG
  %p Enter your email address to follow this blog and receive notifications of new posts by email.

  %input{ type: 'text', name: 'email', placeholder: 'Enter your email address', id: 'subscribe-field' }
  %input{ type: 'submit', value: 'FOLLOW', class: 'btn btn-green'}
