/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "froala_editor.min.css";
@import "froala_style.min.css";
@import "font-awesome-sprockets";
@import "font-awesome";

/*@import 'themes/dark.min.css';
@import 'plugins/char_counter.min.css';
@import 'plugins/code_view.min.css';
@import 'plugins/colors.min.css';
@import 'plugins/emoticons.min.css';
@import 'plugins/file.min.css';
@import 'plugins/fullscreen.min.css';
@import 'plugins/help.min.css';
@import 'plugins/image_manager.min.css';
@import 'plugins/image.min.css';
@import 'plugins/line_breaker.min.css';
@import 'plugins/quick_insert.min.css';
@import 'plugins/special_characters.min.css';
@import 'plugins/table.min.css';
@import 'plugins/video.min.css';*/

@import url('https://fonts.googleapis.com/css?family=Exo+2:400,800');





/* Universal Colors */
$navbar-brand-background: #81b0ac;
$navbar-brand-text: #353535;
$dark-green: #4a7776;
$dark-red: #d12d00;
$green-button: #00787a;

/* Universal Styles */
h1, h2, h3, h4, h5, h6 {
  color: $dark-green;
  font-weight: 800;
}

ul.unstyle-list {
  padding-left: 0px;
  li {
    list-style: none;
    margin-bottom: 5px;
  }
}

.btn {
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rbga(0, 0, 0, .1);
  cursor: pointer;
  display: inline-block;
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  overflow: visible;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn-green {
  background-color: $green-button;
  color: white;
}

.align-right {
  float: right;
}

.align-left {
  float: left;
}

body {
  font-family: 'Exo 2', sans-serif;
}

thead {
  background-color: $dark-green;
  th {
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
  }
}

h1 {
  font-size: 36px;
  font-weight: 800;
  margin-top: 0px;
}

#main-content {
  padding-top: 50px;
}

h3 {
  font-size: 16px;
  letter-spacing: 2px;
}

p {
  font-size: 15px;
  line-height: 27px;
}

/* Navbar Styles */
.navbar {
  background-color: $navbar-brand-background;
  border-radius: 0px;
  margin-bottom: 0px;
  height: 50px;
  line-height: 1.8;
  width: 100%;
  a {
    color: $navbar-brand-text;
    font-size: 12px;
  }
}

#nav-container {
  padding: 0px;
  height: 50px;
}

#nav-banner {
  background-image: image-url('banner.jpg');
  height: 220px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 800;
  margin-bottom: 0px;
  h1 {
    font-size: 70px;
    font-style: normal;
    vertical-align: baseline;
  }
  p {
    font-size: 15px;
    font-weight: 800;
  }
}

.navbar-button {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Sidebar Styles*/

#sidebar-container {
  border-radius: 0px;
  border: none;
  background: #f7f7f7;
  margin-bottom: 20px;
  h3 {
    padding-bottom: 10px;
    border-bottom: 5px solid #dfdfdf;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  p {
    line-height: 22.4px;
    font-size: 14px;
  }
}

#subscribe-field {
  width: 95%;
  height: 43px;
  margin-bottom: 25px;
}

.sidebar-sm-icons a {
  display: inline-block;
  display: -moz-inline-box;
  zoom: 1; /* Trigger hasLayout */
  width: 24%;
  text-align: center;
}

i.category-folder {
  &:hover {
    color: $dark-green;
  }
}

/* About Page Styling */

.social-media-links {
  color: $dark-red;
}

