/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,800');

/* Universal Colors */
$navbar-brand-background: #81b0ac;
$navbar-brand-text: #353535;
$dark-green: #4a7776;
$dark-red: #d12d00;


/* Universal Styles */
h1, h2, h3, h4, h5, h6 {
  color: $dark-green;
}

body {
  font-family: 'Exo 2', sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 800;
}

p {
  font-size: 15px;
  line-height: 27px;
}

/* Navbar Styles */
.navbar {
  background-color: $navbar-brand-background;
  border-radius: 0px;
  margin-bottom: 0px;
  line-height: 1.8;
  width: 100%;
  a {
    color: $navbar-brand-text;
    font-size: 12px;
  }
}

#nav-container {
  padding: 0px;
}

#nav-banner {
  background-image: image-url('banner.jpg');
  height: 220px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 800;
  h1 {
    font-size: 70px;
    font-style: normal;
    vertical-align: baseline;
  }
  p {
    font-size: 15px;
    font-weight: 800;
  }
}


/* About Page Styling */

.social-media-links {
  color: $dark-red;
}

